<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Disappearing Ninja Turtles!</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'disappearingNinja/css/normalize.css' %}">
		<link rel="stylesheet" href="{% static 'disappearingNinja/css/skeleton.css' %}">
		<link rel="stylesheet" href="{% static 'disappearingNinja/css/styles.css' %}">
	</head>
	<body>
		<div class="container">
			<img src="{% static 'disappearingNinja/images/'%}{{img}}" alt="Teenage Mutant Ninja Turtles!"/>
		</div>
	</body>
</html>
