<html>
<head>
    <title>Friends</title>
    <style>
        .fail{
            color: white;
            background-color: red;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
                   {% if messages %}
                       {% for message in messages %}
                           <div class="fail"><h4>{{message}}</h4></div>
                       {% endfor %}
                   {% endif %}
               {% endwith %}
    <form class="" action="/email" method="post">
        email: <input type="text" name="email" value="">
        <input type="submit" name="" value="submit">
    </form>
</body>
</html>
